<div class="user-list-container">
  <div class="user-list">
    <ol class="user-items" *ngFor="let user of users">
      <li class="user-item">
        <p appHighlight [user]="user">
          {{ user.firstName }} {{ user.lastName }}
        </p>

        <div class="user-actions">
          <button class="action-button" (click)="navigateToUserProfile(user)">
            {{ "USER_LIST.SEE_USER" | translate }}
          </button>
          <button
            class="action-button delete-button"
            (click)="deleteUser(user.id)"
          >
            {{ "USER_LIST.DELETE_USER" | translate }}
          </button>
          <button
            class="action-button edit-button"
            [routerLink]="['edit-user', user.id]"
          >
            {{ "USER_LIST.EDIT_USER" | translate }}
          </button>
        </div>
      </li>
    </ol>
  </div>

  <div class="user-profile">
    <app-user-profile [selectedUser]="selectedUser"></app-user-profile>
  </div>

  <router-outlet name="sidebar"></router-outlet>
</div>

<button class="create-button" [routerLink]="['create-user']">
  {{ "USER_LIST.CREATE_NEW_USER" | translate }}
</button>

<div *ngIf="successMessage$ | async as successMessage" class="success-message">
  {{ successMessage }}
</div>
